<section class="content-header">
  <h1>
    Documentos
    <small>Listar</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Documentos</li>
    <li class="active">Listar Documentos</li>
  </ol>
</section>

<section class="content">
  <div class="box box-primary">
    <div class="box-header">
      <i class="ion ion-clipboard"></i>

      <h3 class="box-title">Lista de Documentos</h3>
      <app-alert-message></app-alert-message>
      <div class="box-tools pull-right">
        <!-- BOTÕES DE ADICIONAR-->
        <button type="button" class="btn btn-success pull-right" (click)="openModalUpload()"><i class="fa fa-upload"></i> Upload</button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
      <table id="tblDocumentos" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Cliente</th>
          <th>Tipo de Documento</th>
          <th>Mês</th>
          <th>Ano</th>
          <th>Arquivo</th>
          <th>Editar</th>
          <th>Excluir</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let documento of documentos">
          <td>{{documento.cliente}}</td>
          <td>{{documento.tipo_documento}}</td>
          <td>{{documento.mes ? documento.mes : 'Não se aplica'}}</td>
          <td>{{documento.ano ? documento.ano : 'Não se aplica'}}</td>
          <td>
            <button type="button"
                      (click)="downloadFile(documento.md5_arquivo)"
                      class="btn btn-info btn-sm">
            <i class="fa fa-download" aria-hidden="true"></i>
          </button>
          </td>
          <td>
            <button type="button"
                    (click)="openModalUpload(documento.id)"
                    class="btn btn-success btn-sm">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </td>
          <td>
            <button type="button"
                    (click)="openModalConfirm(template, documento.id)"
                    class="btn btn-danger btn-sm">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        <tr class="animate-repeat" *ngIf="documentos.length == 0">
          <td colspan="8" class="text-center">
            <em>
              Nenhum resultado foi encontrado
            </em>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->

  </div>
</section>

<!--
<ng-template #template>
  <div class="modal-body text-center">
    <p>Confirma a exclusão deste documento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>-->
<ng-template #template>
<div class="alert-box">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirmação</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Confirma a exclusão deste documento?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-default" (click)="decline()">Não</button>
  </div>
</div>
</ng-template>


<ngx-loading [show]="loading"></ngx-loading>
