<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Alexander Pierce</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MENÚ PRINCIPAL</li>
        <li>
          <a href="#" [routerLink]="['/']" >
            <i class="fa fa-dashboard"></i> <span>Home</span>
          </a>
        </li>
        <li>
          <a href="#" [routerLink]="['/list-clientes']" >
            <i class="fa fa-users"></i> <span>Clientes</span>
          </a>
        </li>
        <li>
          <a href="#" [routerLink]="['/new-documento']" >
            <i class="fa fa-upload"></i> <span>Upload de Arquivos</span>
          </a>
        </li>
        <li>
          <a href="#" [routerLink]="['/list-folhas-pagamento']" >
            <i class="fa fa-list"></i> <span>Folha de Pagamento</span>
          </a>
        </li>
        <li>
          <a href="#" [routerLink]="['/list-faturamentos']" >
            <i class="fa fa-money"></i> <span>Faturamento</span>
          </a>
        </li>
        <li>
          <a href="#" [routerLink]="['/list-balancetes']" >
            <i class="fa fa-line-chart"></i> <span>Balancetes</span>
          </a>
        </li>
        <li>
        <a href="#" [routerLink]="['/list-boletos']" >
          <i class="fa fa-barcode"></i> <span>Boletos</span>
        </a>
      </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Documentos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#" [routerLink]="['/list-declaracoes']"><i class="fa fa-circle-o"></i> Declarações</a></li>
            <li><a href="#" [routerLink]="['/list-contratos']"><i class="fa fa-circle-o"></i> Contratos</a></li>
            <li><a href="#" [routerLink]="['/list-certidoes']"><i class="fa fa-circle-o"></i> Certidões Negativas</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
