
  <div class="modal-header">
    <h4 class="modal-title pull-left">Upload de Arquivos</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-alert-message></app-alert-message>
  <form #documentoForm="ngForm" name="documentoForm" role="form" (ngSubmit)="onSubmit(documentoForm)">
    <input type="hidden" name="id" value="id" [(ngModel)]="documento.id"/>
    <div class="modal-body">

      <div class="row">
        <div class="col-md-10">
          <div class="form-group">
            <label for="id_cliente">Cliente</label>
            <select class="form-control"
                    id="id_cliente"
                    [(ngModel)]="documento.id_cliente"
                    [required]="true"
                    name="id_cliente">
              <option *ngFor="let cliente of clientes" [value]="cliente.id">{{cliente.responsavel}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="id_tipo_documento">Tipo de Documento</label>
            <select class="form-control"
                    id="id_tipo_documento"
                    [(ngModel)]="documento.id_tipo_documento"
                    [required]="true"
                    name="id_tipo_documento">
              <option *ngFor="let tipo of tiposDocumentos" [value]="tipo.id">{{tipo.nome}}</option>
            </select>
          </div>

          <div class="form-group"
               *ngIf="documento.id_tipo_documento == 2 || documento.id_tipo_documento == 3 || documento.id_tipo_documento == 4">
            <label for="id_mes">Mês</label>
            <select class="form-control"
                    id="id_mes"
                    [(ngModel)]="documento.id_mes"
                    [required]="false"
                    name="id_mes">
              <option *ngFor="let mes of meses" [value]="mes.id">{{mes.nome}}</option>
            </select>
          </div>

          <div class="form-group" *ngIf="documento.id_tipo_documento && documento.id_tipo_documento != 1">
            <label for="ano">Ano</label>
            <input type="text"
                   class="form-control"
                   id="ano"
                   name="ano"
                   [(ngModel)]="documento.ano"
                   [required]="false"
                   placeholder="Ano"/>
          </div>

          <div class="form-group">
            <label for="descricao">Descrição</label>
            <input type="text"
                   class="form-control"
                   id="descricao"
                   name="descricao"
                   [(ngModel)]="documento.descricao"
                   [required]="false"
                   placeholder="Descrição"/>
          </div>

          <div class="form-group">
            <label for="arquivo">Arquivo</label>
            <input type="file" id="arquivo"
                   (change)="inputFileChange($event)"
                   name="arquivo"/>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="!documentoForm.valid">Enviar</button>
    </div>
  </form>

