<section class="content-header">
  <h1>
    Dashboard
    <small>Painel de Controle</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-3 col-xs-6" *ngIf="auth.getUser().id_perfil == 2">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>150</h3>
          <p>Clientes</p>
        </div>
        <div class="icon">
          <i class="ion ion-person"></i>
        </div>
        <a href="#" [routerLink]="['/list-clientes']" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6" *ngIf="auth.getUser().id_perfil == 2">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <p>Documentos</p>
        </div>
        <div class="icon">
          <i class="ion ion-document"></i>
        </div>
        <a href="#" [routerLink]="['/list-documentos']" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6" *ngIf="auth.getUser().id_perfil == 3">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>150</h3>
          <p>Folhas de Pagamento</p>
        </div>
        <div class="icon">
          <i class="ion ion-document"></i>
        </div>
        <a href="#" class="small-box-footer">Detathes <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6" *ngIf="auth.getUser().id_perfil == 3">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3>150</h3>
          <p>Parte Contratual</p>
        </div>
        <div class="icon">
          <i class="ion ion-document"></i>
        </div>
        <a href="#" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-xs-6" *ngIf="auth.getUser().id_perfil == 3">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3>150</h3>
          <p>Impostos sobre Faturamento</p>
        </div>
        <div class="icon">
          <i class="ion ion-document"></i>
        </div>
        <a href="#" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-xs-6" *ngIf="auth.getUser().id_perfil == 3">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3>150</h3>
          <p>Boletos</p>
        </div>
        <div class="icon">
          <i class="ion ion-document"></i>
        </div>
        <a href="#" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-xs-6" *ngIf="auth.getUser().id_perfil == 3">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3>150</h3>
          <p>Certidões</p>
        </div>
        <div class="icon">
          <i class="ion ion-document"></i>
        </div>
        <a href="#" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-xs-6" *ngIf="auth.getUser().id_perfil == 3">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3>150</h3>
          <p>Balanços</p>
        </div>
        <div class="icon">
          <i class="ion ion-document"></i>
        </div>
        <a href="#" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-xs-6" *ngIf="auth.getUser().id_perfil == 3">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3>150</h3>
          <p>Declarações</p>
        </div>
        <div class="icon">
          <i class="ion ion-document"></i>
        </div>
        <a href="#" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
  </div>
</section>
