
<div class="register-box" style="height:600px;">
  <div class="register-logo">
    <b>Solicitação de Cadastro</b>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Forneça seus dados para solicitação de cadastro.</p>
    <app-alert-message></app-alert-message>
    <form #formCadastro="ngForm" name="formCadastro" (ngSubmit)="onSubmit(formCadastro)" role="form">
      <div class="form-group has-feedback">
        <input type="text"
               class="form-control"
               [(ngModel)]="cliente.razao_social"
               name="razao_social"
               #razao_social="ngModel"
               [required]="true"
               placeholder="Razão Social"/>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="text"
               class="form-control"
               [(ngModel)]="cliente.responsavel"
               name="responsavel"
               #responsavel="ngModel"
               [required]="true"
               placeholder="Responsável">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="text"
               class="form-control"
               [(ngModel)]="cliente.cnpj"
               name="cnpj"
               [cnpj]="cliente.cnpj"
               #cnpjInput="ngModel"
               mask="00.000.000/0000-00"
               [required]="true"
               placeholder="CNPJ"/>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <div class="is-invalid" style="color: #FF0000" *ngIf="cnpjInput?.errors?.cnpj">CNPJ inválido</div>
      </div>
      <div class="form-group has-feedback">
        <input type="text"
               class="form-control"
               [(ngModel)]="cliente.telefone"
               name="telefone"
               #telefone="ngModel"
               [required]="true"
               placeholder="Telefone"/>
        <span class="glyphicon glyphicon-phone form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="email"
               class="form-control"
               [(ngModel)]="cliente.email"
               name="email"
               #email="ngModel"
               [required]="true"
               placeholder="E-mail"/>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password"
               class="form-control"
               [(ngModel)]="cliente.password"
               name="password"
               #password="ngModel"
               [required]="true"
               placeholder="Senha"/>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password"
               class="form-control"
               [(ngModel)]="cliente.confirma_senha"
               name="confirma_senha"
               #confirma_senha="ngModel"
               [required]="true"
               placeholder="Confirma Senha"/>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div *ngIf="formCadastro.submitted && confirma_senha.invalid" class="invalid-feedback">
          <div *ngIf="confirma_senha.errors.mustMatch">The passwords must be match</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">

          </div>
        </div>

        <div class="col-xs-4">
          <button type="submit" [disabled]="!formCadastro.valid" class="btn btn-primary btn-block btn-flat">Cadastrar</button>
        </div>

      </div>
    </form>
     <br/>
    <a href="#" [routerLink]="['/login']" class="text-center">Já é cadastrado? Então clique aqui para fazer o login.</a>
  </div>

</div>

<ngx-loading [show]="loading"></ngx-loading>
