<div class="login-box" style="height:600px;">
  <div class="login-logo">
    <b>Acesso ao Sistema</b>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Forneça seu CNPJ e senha que você cadastrou no momento da solicitação de cadastro.</p>
    <app-alert-message></app-alert-message>
    <form #loginForm="ngForm" name="loginForm" role="form" (submit)="onSubmit(loginForm)">
      <div class="form-group has-feedback">
        <input type="text"
               class="form-control"
               [(ngModel)]="usuario.login"
               name="login"
               [required]="true"
               placeholder="CNPJ">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password"
               class="form-control"
               [(ngModel)]="usuario.password"
               name="password"
               [required]="true"
               placeholder="Senha">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">

          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!loginForm.valid">Entrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <!-- /.social-auth-links -->

    <a href="#">Esqueceu sua senha?</a><br>
    <a href="#" [routerLink]="['/cadastro']" class="text-center">Solicite seu cadastro caso ainda não solicitou.</a>

  </div>
  <!-- /.login-box-body -->
</div>
